@model CheckInApp.ViewModels.RoomToPrintViewModel
@{
    ViewBag.Title = "Danh sách điểm danh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="callout callout-info">
                    <h5><i class="fas fa-info"></i> Note: <a href="/room/detailprint/@Model.RoomId" target="_blank" class="btn btn-default float-right"><i class="fas fa-print"></i> Print</a>
                    </h5>
                    
                </div>


                <!-- Main content -->
                <div class="invoice p-3 mb-3">
                    <!-- title row -->
                    <div class="row">

                        <div class="col-12">

                            <div class="login-logo" style="background: #808080; padding: 30px 0px 40px 0;">
                                <a href="#" style="background: #808080;"><b>Samsung</b>DA Training</a>
                            </div>

                            <h2 class="login-box-msg ">@Model.CourseName - @Model.RoomName</h2>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- info row -->
                    <div class="row invoice-info">
                        <div class="col-sm-4 invoice-col">
                            <strong>Trainer</strong>
                            <address>
                                @Model.TrainerName
                            </address>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 invoice-col">
                            <strong>
                                Venue
                            </strong>
                            <address>
                                @Model.VenueName
                            </address>
                        </div>
                        <div class="col-sm-4 invoice-col">
                            <strong> Date</strong>
                            <address>
                                @Model.DatetimeEnString
                            </address>
                        </div>
                    </div>
                    <!-- /.row -->
                    <!-- Table row -->
                    <div class="row">
                        <div class="col-12 table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Attendences.FirstOrDefault().MNV)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.Attendences.FirstOrDefault().Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Attendences.FirstOrDefault().PositionName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Attendences.FirstOrDefault().Tel)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Attendences.FirstOrDefault().StoreName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Attendences.FirstOrDefault().Signature)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Attendences.FirstOrDefault().Signature)
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Attendences)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MNV)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PositionName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Tel)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.StoreName)
                                            </td>
                                            <td>
                                                <img src="@item.Signature" width="80" alt="" />
                                            </td>
                                            <td>
                                                <img src="@item.Signature" width="80" alt="" />
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->

                </div>
                <!-- /.invoice -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
