@model IEnumerable<CheckInApp.ViewModels.RoomViewModel>

@{
    ViewBag.Title = "Danh sách Lớp học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles
{
    <link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link href="../../dist/bootoast.min.css" rel="stylesheet" type="text/css">

}

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
           
        <th>
            @Html.DisplayNameFor(model => model.Datetime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrainerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VenueName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VenueAddress)
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.QRCode)
            
        </th>
          
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(model => item.Datetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VenueAddress)
            </td>
            <td>
            @{
                var sts = item.Status;
                if (sts)
                {
                    <button type="button" id="btn@(item.Id)" class="btn btn-primary" data-toggle="modal" onclick="getModal(@item.Id)">
                        QRCode
                    </button>
                }
                else
                {
                    <button type="button" id="btn@(item.Id)" class="btn btn-secondary" data-toggle="modal" onclick="getModal(@item.Id)" disabled="">
                        QRCode
                    </button>
                }
            }
                <input type="hidden" id="name@(item.Id)" value="@item.Name"/>
                <input type="hidden" id="qr@(item.Id)" value="@item.QRCode"/>
            </td>
            
            <td>
                @{
                  
                    if (sts)
                    {
                        <input type="checkbox" name="my-checkbox" checked data-bootstrap-switch data-off-color="danger" contentid="@item.Id" data-on-color="success">
                    }
                    else
                    {
                        <input type="checkbox" name="my-checkbox" data-bootstrap-switch data-off-color="danger" data-on-color="success" contentid="@item.Id">
                    }
                }
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |*@
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |

                @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
            </td>
        </tr>
    }
    </tbody>
</table>
<div id="myModal" tabindex="-1"class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Phòng học: <span id="modaltitle"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img id="modalcontent" width="300"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <!-- DataTables -->
    <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <!-- Bootstrap Switch -->
    <script src="../../plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <!-- InputMask -->
    <script src="../../plugins/moment/moment.min.js"></script>
    <script src="../../plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
    <script>
        function getModal(id) {
            var idname = "#name" + id;
            var idqr = "#qr" + id;
            var name = $(idname).val();
            var ar = $(idqr).val();
            $('#modaltitle').text(name);
            $('#modalcontent').attr('src', ar);
            $("#myModal").modal('show');
        }

        function onModal(id) {
            var idqr = "#btn" + id;
            $(idqr).attr("disabled", false);
            $(idqr).css("background-color", "#007bff");
            $(idqr).css("border-color", "#007bff");
        }

        function offModal(id) {
            var idqr = "#btn" + id;
            $(idqr).attr("disabled", true);
            $(idqr).css("background-color", "#6c757d");
            $(idqr).css("border-color", "#6c757d");

        }

        $(function() {
            //Money Euro
            $("#lbDatetime").inputmask('dd/MM/yyyy');

            $('.table').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
            $("input[data-bootstrap-switch]").each(function() {
                $(this).bootstrapSwitch('state', $(this).prop('checked'));
            });


            $('input[data-bootstrap-switch]').on('switchChange.bootstrapSwitch',
                function(e, data) {
                    if (confirm('Bạn có muốn thay đổi trạng thái Venue không?')) {
                        var id = $(this).attr("contentid");
                        $(this).bootstrapSwitch('state', !data, true);
                        var $obj = $(this);
                        $.ajax({
                            type: "POST",
                            cache: false,
                            dataType: "json",
                            context: this,
                            contentType: "application/json; charset=utf-8",
                            data: JSON.stringify({ "id": id, "sts": data }),
                            url: "/api/courseinfor/RoomStatus",
                            success: function(response) {
                                if (response) {
                                    bootoast.toast({
                                        message: 'Cập nhật thành công',
                                        type: 'success'
                                    });
                                    $obj.bootstrapSwitch('state', data, true);

                                } else {
                                    bootoast.toast({
                                        message: 'Cập nhật thất bại',
                                        type: 'danger'
                                    });
                                }
                            },
                            error: function(response) {
                                bootoast.toast({
                                    message: response,
                                    type: 'danger'
                                });
                            }
                        });
                        if (data) {
                            onModal(id);
                        } else {
                            offModal(id);
                        }
                    } else {
                        $(this).bootstrapSwitch('state', !data, true);
                    }

                });
        });
    </script>
}